nav {
  display: flex;
  justify-content: space-around;
  font-weight: bold;
  font-size: 16px;
}

#nav-links {
  width: 250px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 10px;
}

#nav-links a {
  font-family: 'Providence Sans Regular', sans-serif;
  display: block;
}

a {
  transition: transform 0.3s ease-in-out;
}

a:hover {
  transform: scale(1.1);
}

nav img {
  height: 50px;
}

.dropdown {
  position: relative;
}

.drop-button {
  transition: transform 0.3s ease-in-out;
}

.drop-button:hover {
  transform: scale(1.1);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-image: url("images/papier-peau.jpg");
  background-size: cover;
  min-width: 200px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
  z-index: 1;
  transition: all 0.3s ease-in-out;
  border-radius: 6px;
  padding: 10px;
}

.dropdown-content a {
  display: block;
  padding: 6px;
}

.show {
  display: block;
}
