nav {
  display: flex;
  justify-content: space-around;
  font-weight: bold;
  font-size: 16px;
  padding-bottom: 8px;
  padding-top: 8px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-image: url("images/papier-peau90.jpg");
  background-size: cover;
  /* opacity: 0.9; */
  box-shadow: 0 4px 4px #6f594d; /* Ombre légère */
  z-index: 1000; /* On s'assure que la navbar est affichée au-dessus du contenu */
  transition: top 0.3s;
}

.navbar.hidden {
  top: -100px; /* Masque la navbar en dehors de l'écran */
}


#nav-links {
  width: 250px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 10px;
}

#nav-links a {
  font-family: 'Providence Sans Regular', sans-serif;
  display: block;
}

a {
  transition: transform 0.3s ease-in-out;
}

a:hover {
  transform: scale(1.1);
}

nav img {
  height: 50px;
}

.dropdown {
  position: relative;
}

.drop-button {
  transition: transform 0.3s ease-in-out;
}

.drop-button:hover {
  transform: scale(1.1);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-image: url("images/papier-peau.jpg");
  background-size: cover;
  min-width: 200px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
  z-index: 1;
  transition: all 0.3s ease-in-out;
  border-radius: 6px;
  padding: 10px;
}

.dropdown-content a {
  display: block;
  padding: 6px;
}

.show {
  display: block;
}
