@import "navbar.css";
@import "card.css";
@import "font/font.css";
@import "feedbacks.css";
@import "contact.css";
@import "phototampon.css";
@import "button.css";
@import "logo.css";
@import "prestations.css";

body {
  /* background-color: #eddcc9; */
  background-image: url("images/papier-peau90.jpg");
  background-size: cover;
  color: #6f594d;
  /* display: flex;
  flex-direction: column; */
}

#main-container {
  /* align-self: center; */
  max-width: 1000px;
}

h1, h2, h3 {
  font-family: 'Providence Sans Regular', sans-serif;
  color:  #de6247;
  text-align: center;
}

a {
  text-decoration: none;
  color: #6f594d;
  font-family: 'Providence Sans Regular', sans-serif;
}

html {
  scroll-behavior: smooth;
} 

p {
  font-size: 16px;
  font-family: 'Minerva Modern Regular';
}

.warning-text {
  color: #de6247;
}
